//result
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.container-sm{
    .table tbody tr td img{
        width:80px;
    }
}
.container-lg .contents{
    display:inline-block;
    img{
        width:100%;
    } 
}
.container-lg .intro{
    display: inline-block;
    width: 50%;
    margin-left: 3rem;
}

@media (max-width: 896px) {
    .container-sm{
        .table {
            width: 100%;
        }
        .table thead {
            display: none;
        }
        .table tbody tr {
            width: 100%;
        }
        .table tbody tr td {
            display: block;
            width: 100%;
            text-align: right;
        }
        .table tbody tr td:first-child {
            background: #b8d200;
            font-weight: bold;
            text-align: center;
        }
        .table tbody tr td img{
            width:100%;
        }
        .table tr td:before {
            content: attr(data-label);
            float: left;
            margin-right: 10px;
        }
    }

    .container-lg .contents{
        display:block;
        img{
            width:100%;
        }
    }
    .container-lg .intro{
        display: block;
        width: 100%;
        margin-left:0;
    }
}
